<h2>{{ isNew ? 'Создание категории' : 'Редактирование категории' }}</h2>

<form (ngSubmit)="saveCategory()">
  <label>Название:</label>
  
  <input *ngIf="isNew; else displayCategoryName" [(ngModel)]="category.name" name="name" required />

  <ng-template #displayCategoryName>
    <input [value]="category.name" disabled />
  </ng-template>

  <label>Выберите инструктора:</label>
  <select [(ngModel)]="selectedInstructor" name="selectedInstructor">
    <option [ngValue]="null">Выберите инструктора</option>
    <option *ngFor="let instructor of availableInstructors" [ngValue]="instructor">
      {{ instructor.fio }} (стаж: {{ instructor.seniority }} лет)
    </option>
  </select>
  <button type="button" (click)="addInstructor()" [disabled]="!selectedInstructor">
    <i class="fas fa-plus"></i> Добавить
  </button>

  <div>
    <h4>Добавленные инструкторы:</h4>
    <ul>
      <li *ngFor="let instructor of category.instructors">
        ID: {{ instructor.id }}, ФИО: {{ instructor.fio }}, Стаж: {{ instructor.seniority }} лет
        <button type="button" (click)="removeInstructor(instructor.id)">
          <i class="fas fa-trash"></i> Удалить
        </button>
      </li>
    </ul>
  </div>

  <div class="form-actions">
    <button type="submit" [disabled]="!category.name">
      <i class="fas fa-save"></i> Сохранить
    </button>
    <a routerLink="/categories"><i class="fas fa-times"></i> Отмена</a>
  </div>
</form>
