<h2>Список автомобилей</h2>
<a routerLink="/cars/new"><i class="fas fa-plus"></i> Добавить новый автомобиль</a>

<div class="filter-container">
  <label>Марка:</label>
  <input [(ngModel)]="filterMark" name="mark" />
  <label>Модель:</label>
  <input [(ngModel)]="filterModel" name="model" />
  <label>Год:</label>
  <input type="number" [(ngModel)]="filterYear" name="year" />
  <label>Номерной знак:</label>
  <input [(ngModel)]="filterPlate" name="plate" />

  <button (click)="searchCars()"><i class="fas fa-search"></i> Поиск</button>
  <button (click)="loadCars()"><i class="fas fa-sync"></i> Сбросить</button>
</div>

<div class="list-container">
  <li *ngFor="let car of cars">
    <div><strong>Марка:</strong> {{ car.mark }}</div>
    <div><strong>Модель:</strong> {{ car.model }}</div>
    <div><strong>Год выпуска:</strong> {{car.yearOfProduction}}</div>
    <div><strong>Номерной знак:</strong> {{car.licensePlateNumber}}</div>
    <div *ngIf="car.lessons?.length">
    <div><strong>Уроки:</strong></div>
    <ul *ngFor="let lesson of car.lessons">
      <li>Даты проведения: {{ lesson.startDate | date:'dd/MM/yyyy' }} - {{ lesson.endDate | date:'dd/MM/yyyy' }}</li>
    </ul>
    </div>

    <div *ngIf="!car.lessons || car.lessons.length === 0">
      <div>Нет уроков</div>
    </div>
    <button (click)="deleteCar(car.id)"><i class="fas fa-trash"></i> Удалить</button>
    <button (click)="editCar(car.id)"><i class="fas fa-edit"></i> Редактировать</button>
  </li>
</div>
